[client-server]
socket = /run/mysqld/mysqld.sock

[mysqld]
user = root
datadir = /var/lib/mysql
port = 3306
log-bin = /var/lib/mysql/mysql-bin
socket = /run/mysqld/mysqld.sock
skip-bind-address
skip-networking = false
skip-external-locking
skip-name-resolve
skip-grant-tables = false

[mysql]
user = root
port = 3306
socket = /run/mysqld/mysqld.sock
